html {
      background: #F8F8FF;
  }

#bannerdesktop {
    width: 100%;
}

#logo {
    vertical-align: top;
    margin-left: 45%;
    margin-top:-10%;
}

h1 {
    margin-left: 00%;
    text-align: center;
}

p {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.buttonfirst {
    margin-left: 40%;
    margin-left: 41%;
}

h2 {
    text-align: center;
}

.image-computer {
    width: 40%;
    margin-top: 5%;
    margin-left: 5%;
}

.textright {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: 45%;
    margin-top: -30%;
}

.titulo1 {
    text-align: left;
    display: inline-block;
    width: 50%;
    margin-left: 10%;
}

.text1 {
    text-align: left;
    display: inline-block;
    width: 50%;
    margin-left: 10%;
    vertical-align: top;
    margin-top: -1%;
}

.textcentral {
    text-align: center;
}

.textcentral_2 {
    text-align: center;
}

.imagedevices{
    width: 50%;
    
}

.text_3 {
    margin-top: 2%;
}

.iconblacklist {
   margin-left: 24%;
   margin-top: 5%;
}

.titulo2 {
    text-align: left;
    display: inline-block;
    width: 20%;
    margin-left: 20%;
    
}

.text2 {
    text-align: center;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 4%;
    margin-left: -25%;
   
}

.icontext {
    margin-left: 17%;
    margin-top: 5%;
}

.titulo3 {
    text-align: center;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 1%;
    margin-left: 0%;
    
}

.text3 {
    text-align: center;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 4%;
    margin-left: -20%;
}

.iconpreview {
    margin-left: 17%;
    margin-top: 5%;
}

.titulo4 {
    text-align: center;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 1%;
    margin-left: 0%;
}

.text4 {
    text-align: center;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 4%;
    margin-left: -20%;
}

.logo-vector-graphics {
    display: inline-block;
    margin-top: 10%;
    margin-left: 80%;
}

.logo-hp {
    display: inline-block;
    margin-top: -5%;
    margin-left: 60%;
}

.logo-microsoft {
    display: inline-block;
    margin-top: -5%;
    margin-left: -30%;
}

.logo-ibm {
    display: inline-block;
    margin-top: -5%;
    margin-left: -30%;
}

.logo-google {
    display: inline-block;
    margin-top: -5%;
    margin-left: -30%;
}

.textfinal {
    margin-top: 10%;
}

.buttonsecond {
    text-align: center;
    margin-top: 2%;
    margin-left: 0%;
}

.attribution {
    width: 100%;
    font-size: 11px;
    text-align: center;
    color: black;
    margin-top: 10%;
    margin-left: 0%;
}

footer {
    color: rgb(237, 132, 100);
}
