@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

:root {
    --font-family: 'Bai Jamjuree', sans-serif;
    --primary-color: #363636 ;

}

html {
      background: #F8F8FF;
  }

#bannerdesktop {
    width: 100%;
}

#logo {
    vertical-align: top;
    margin-left: 45%;
    margin-top:-10%;
}

h1 {
    margin-left: 00%;
    text-align: center;
    font-family: var(--font-family);
}

p {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-family: var(--font-family);
}

.buttonfirst {
    margin-left: 40%;
    margin-left: 41%;
    font-family: var(--font-family);
}

h2 {
    text-align: center;
    font-family: var(--font-family);
}

.image-computer {
    width: 40%;
    margin-top: 5%;
    margin-left: 5%;
}

.textright {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: 45%;
    margin-top: -30%;
    font-family: var(--font-family);
}

.titulo1 {
    text-align: left;
    display: inline-block;
    width: 50%;
    margin-left: 10%;
    font-family: var(--font-family);
}

.text1 {
    text-align: left;
    display: inline-block;
    width: 50%;
    margin-left: 10%;
    vertical-align: top;
    margin-top: -1%;
    font-family: var(--font-family);
}

.textcentral {
    text-align: center;
    font-family: var(--font-family);
}

.textcentral_2 {
    text-align: center;
    font-family: var(--font-family);
}

.imagedevices{
    width: 50%;
    
}

.text_3 {
    margin-top: 2%;
    font-family: var(--font-family);
}

.iconblacklist {
   margin-left: 24%;
   margin-top: 5%;
}

.titulo2 {
    text-align: left;
    display: inline-block;
    width: 20%;
    margin-left: 20%;
    font-family: var(--font-family);
    
}

.text2 {
    text-align: center;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 4%;
    margin-left: -25%;
    font-family: var(--font-family);
   
}

.icontext {
    margin-left: 17%;
    margin-top: 5%;
}

.titulo3 {
    text-align: center;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 1%;
    margin-left: 0%;
    font-family: var(--font-family);
    
}

.text3 {
    text-align: center;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 4%;
    margin-left: -20%;
    font-family: var(--font-family);
}

.iconpreview {
    margin-left: 17%;
    margin-top: 5%;
}

.titulo4 {
    text-align: center;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 1%;
    margin-left: 0%;
    font-family: var(--font-family);
}

.text4 {
    text-align: center;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 4%;
    margin-left: -20%;
    font-family: var(--font-family);
}

.logo-vector-graphics {
    display: inline-block;
    margin-top: 10%;
    margin-left: 80%;
}

.logo-hp {
    display: inline-block;
    margin-top: -5%;
    margin-left: 60%;
}

.logo-microsoft {
    display: inline-block;
    margin-top: -5%;
    margin-left: -30%;
}

.logo-ibm {
    display: inline-block;
    margin-top: -5%;
    margin-left: -30%;
}

.logo-google {
    vertical-align: top;
    margin-left: -30%;
    margin-top:-2%;
}

.textfinal {
    margin-top: 10%;
    font-family: var(--font-family);
}

.buttonsecond {
    text-align: center;
    margin-top: 2%;
    margin-left: 0%;
    font-family: var(--font-family);
}

.logo {
    margin-top: 8%;
    margin-left: 10%;
    width: 3%;
}

nav li {
    display: inline;
    margin: 0 0 0 30px;
}

.social {
    display: inline;
    margin: 0 0 0 25px;
    padding: 10% 0 0 75%;
}

.DownloadforiOS {
    padding: 8px 15px;
    border: 0;
    background: #3CB371;
    border-radius: 20px;
    margin-top: 40px;
    color: white;
  }

.DownloadforMac {
    padding: 8px 15px;
    border: 0;
    background: #20B2AA;
    border-radius: 20px;
    margin-top: 40px;
    color: white;
  }

.fundo {
    background: #DCDCDC;
    margin-top: 5%;
    height: 200px;
}

.information {
    margin-top: -2%;
    margin-left: 20%;
    font-family: var(--font-family);
}

.attribution {
    width: 100%;
    font-size: 11px;
    text-align: center;
    color: black;
    margin-top: 3%;
    margin-left: 0%;
}

footer {
    color: rgb(237, 132, 100);
}
